<%= render partial: 'header' %>

<div class="row right">
  <% if !@client.host.inactive? %>
    <%= link_to 'Disable client', disable_admin_client_path(@client), method: :post,
      data: { confirm: 'This will disable the client. Are you sure?' },
      class: "btn btn-warning", role: "button" %>
  <% end %>
  <%= link_to 'Remove client', revoke_admin_client_path(@client), method: :delete,
    data: { confirm: 'This will REMOVE the client from Bacula. Are you sure?' },
    class: "btn btn-danger", role: "button" %>
</div>


<div class="row">
  <div class="col-xs-4">
    <h3>Client Details</h3>
  </div>
  <div class="col-xs-6">
    <h3>Bacula Jobs</h3>
  </div>
</div>

<div class="row">
  <%= render partial: 'client_details' %>
  <div class="col-xs-8">
    <div class="row">
      <% if @client.host %>
        <%= render partial: 'jobs' %>
      <% end %>
    </div>
  </div>
</div>
