<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>New Backup Job Config</h3>
      </div>

      <div class="panel-body">
        <%= bootstrap_form_for(@simple_config, url: host_simple_configs_path(@host),
                               layout: :horizontal, label_col: 'col-xs-3',
                               control_col: 'col-xs-8') do |f| %>
          <%= f.text_field :name %>
          <hr />
          <%= f.select :day, options_for_select(SimpleConfiguration::DAY_NAMES, @simple_config.day), require: true %>
          <%= f.number_field :hour, value: @simple_config.hour, min: 0, max: 23 %>
          <%= f.number_field :minute, value: @simple_config.minute, min: 0, max: 59 %>
          <hr />
          <%= f.select :included_files,
                       options_for_select(SimpleConfiguration::INCLUDED_FILE_OPTIONS, ['/']),
                       { label: 'Fileset' }, multiple: true %>
          <hr />
          <%= f.submit 'Create Config', class: 'btn btn-success col-xs-3 col-xs-offset-8' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Info</h3>
      </div>
      <div class="panel-body">
        <p>This the basic Backup configuration.</p>
        <p>Your server is going to receive daily backups, on the selected <strong>hour</strong> and <strong>minute</strong>.</p>
        <p>The backup plan is optimized to have the minimum overhead to your system, while maintaining a high performance restore system.</p>
        <p>The most time consuming backups will be on the selected <strong>day</strong>.</p>
        <hr />
        <p>You can specify a set of files you want to backup from a list of preselected Fileset</p>
        <hr />
        <p>You can alter this configuration later on according to your specific needs.</p>
      </div>
    </div>
  </div>
</div>
