<tr>
  <td><%= faq.priority %></td>
  <td><%= link_to faq.title, admin_faq_path(faq) %></td>
  <td><%= faq.pretty_body.html_safe %></td>
  <td><%= I18n.l(faq.created_at, format: :short) %></td>
  <td><%= I18n.l(faq.updated_at, format: :short) rescue '-' %></td>
  <td>
    <%= link_to admin_faq_path(faq) do %>
      <label class="glyphicon glyphicon-eye-open text-primary" alt="show"></label>
    <% end %>
    <%= link_to edit_admin_faq_path(faq) do %>
      <label class="glyphicon glyphicon-edit text-primary" alt="show"></label>
    <% end %>
    <%= link_to admin_faq_path(faq), method: :delete,
                data: { confirm: 'The FAQ entry is going to be destroyed' } do %>
      <label class="glyphicon glyphicon-remove text-danger" alt="show"></label>
    <% end %>
  </td>
</tr>
