<%= bootstrap_form_for(@job, url: @job.new_record? ? host_jobs_path : host_job_path(@host, @job),
                       layout: :horizontal, label_col: 'col-xs-5', control_col: 'col-xs-5') do |f| %>
  <%= f.text_field :name %>

  <%= select_with_errors_and_button(
    @job, :job_template, :fileset_id, 'Fileset',
    options_from_collection_for_select(@host.filesets, :id, :name,
                                       params[:fileset_id] || @job.fileset_id),
    new_host_fileset_path(@host, job_id: @job.id))
  %>

  <% if !@job.restore? %>
    <%= select_with_errors_and_button(
      @job, :job_template, :schedule_id,
      'Schedule', options_from_collection_for_select(@host.schedules, :id, :name,
                                                     params[:schedule_id] || @job.schedule_id),
      new_host_schedule_path(@host, job_id: @job.id))
    %>
  <% end %>

  <%= f.text_field :client_before_run_file, label: 'Client Run Before Job' %>
  <%= f.text_field :client_after_run_file, label: 'Client Run After Job' %>

  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-8">
      <%= f.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>
