<div class="col-xs-12">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td><b>Name</b></td>
        <td><%= @job.name %></td>
      </tr>
      <tr>
        <td><b>Type</b></td>
        <td><%= @job.job_type %></td>
      </tr>
      <tr>
        <td><b>Client</b></td>
        <td><%= @host.name %></td>
      </tr>
      <tr>
        <td><b>Fileset</b></td>
        <td><pre><%= @job.fileset.human_readable %></pre></td>
      </tr>
      <% if @job.restore? %>
        <tr>
          <td><b>Restore Location</b></td>
          <td><%= @job.restore_location %></td>
        </tr>
      <% else %>
        <tr>
          <td><b>Schedule</b></td>
          <td>
            <pre><%= @job.schedule.to_bacula_config_array.join("\n") %></pre>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><b>Client Run Before Job</b></td>
        <td><%= @job.client_before_run_file %></td>
      </tr>
      <tr>
        <td><b>Client Run After Job</b></td>
        <td><%= @job.client_after_run_file %></td>
      </tr>
      <tr>
        <td><b>Created</b></td>
        <td><%= I18n.l(@job.created_at, format: :long) %></td>
      </tr>
      <tr>
        <td><b>Enabled</b></td>
        <td><%= @job.enabled_human %></td>
      </tr>
    </table>
  </div>
</div>
