<div class="col-xs-4">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td><b>Name</b></td>
        <td><%= @job.name %></td>
      </tr>
      <tr>
        <td><b>Type</b></td>
        <td><%= @job.job_type %></td>
      </tr>
      <tr>
        <td><b>Host</b></td>
        <td><%= @host.name %></td>
      </tr>
      <tr>
        <td><b>Fileset</b></td>
        <td><%= @job.fileset.name %></td>
      </tr>
      <tr>
        <td><b>Schedule</b></td>
        <td><%= @job.schedule.name %> days</td>
      </tr>
      <tr>
        <td><b>Created</b></td>
        <td><%= I18n.l(@job.created_at, format: :long) %></td>
      </tr>
    </table>
  </div>
  <%= link_to 'Edit', edit_host_job_path(@host, @job), class: "btn btn-primary", role: "button" %>
</div>
