<tr>
  <td><%= link_to job.name, host_job_path(@host, job) %></td>
  <td><%= job.job_type %></td>
  <td>
    <%= link_to job.fileset.name, '#',
      data: { toggle: 'modal', target: ".js-fileset-#{job.fileset_id}:first"} %>
  </td>
  <td>
    <%= link_to job.schedule_human, '#',
      data: { toggle: 'modal', target: ".js-schedule-#{job.schedule_id}:first"} %>
  </td>
  <td><%= job.client_before_run_file %></td>
  <td><%= job.client_after_run_file %></td>
  <td><%= job.priority %></td>
  <td>
    <% if job.enabled? %>
      <%= link_to 'Disable', toggle_enable_host_job_path(@host, job), method: :patch,
        class: "btn btn-warning", role: "button" %>
    <% else %>
      <%= link_to 'Enable', toggle_enable_host_job_path(@host, job), method: :patch,
        class: "btn btn-info", role: "button" %>
    <% end %>
  </td>
</tr>
