<div class="col-xs-4">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td><b>Name</b></td>
        <td><%= @host.name %></td>
      </tr>
      <tr>
        <td><b>FQDN</b></td>
        <td><%= @host.fqdn %></td>
      </tr>
      <tr>
        <td><b>FDPort</b></td>
        <td><%= @host.port %></td>
      </tr>
      <tr>
        <td><b>Password</b></td>
        <td><%= @host.password %></td>
      </tr>
      <tr>
        <td><b>File Retention</b></td>
        <td><%= @host.file_retention %> days</td>
      </tr>
      <tr>
        <td><b>Job Retention</b></td>
        <td><%= @host.job_retention %> days</td>
      </tr>
      <tr>
        <td><b>Auto Prune</b></td>
        <td><%= @host.auto_prune_human %></td>
      </tr>
      <tr>
        <td><b>Created</b></td>
        <td><%= I18n.l(@host.created_at, format: :long) %></td>
      </tr>
    </table>
  </div>

  <div class='row'>
    <div class='col-xs-2'>
      <%= link_to 'Edit', edit_host_path(@host), class: "btn btn-primary", role: "button" %>
    </div>
    <% if @host.ready? %>
      <div class='col-xs-4 pull-right text-right'>
        <%= link_to 'Send to Bacula', submit_config_host_path(@host), method: :post,
                    class: 'btn btn-success', role: 'button' %>
      </div>
    <% end %>
  </div>
</div>
