<div class="col-xs-4">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td><b>Name</b></td>
        <td><%= @host.name %></td>
      </tr>
      <tr>
        <td><b>FQDN</b></td>
        <td><%= @host.fqdn %></td>
      </tr>
      <tr>
        <td><b>FDPort</b></td>
        <td><%= @host.port %></td>
      </tr>
      <tr>
        <td><b>Token</b></td>
        <td>********</td>
      </tr>
      <tr>
        <td><b>File Retention</b></td>
        <td><%= @host.file_retention %> days</td>
      </tr>
      <tr>
        <td><b>Job Retention</b></td>
        <td><%= @host.job_retention %> days</td>
      </tr>
      <tr>
        <td><b>Verified</b></td>
        <td>
          <% if @host.verified? %>
            <span class="label label-success">yes</span>
          <% else %>
            <span class="label label-danger">no</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><b>Created</b></td>
        <td><%= I18n.l(@host.created_at, format: :long) %></td>
      </tr>
    </table>
  </div>

  <div class='row'>
    <div class='col-xs-2'>
      <%= link_to 'Edit', edit_host_path(@host), class: "btn btn-primary", role: "button" %>
    </div>

    <% if @host.needs_dispatch? %>
      <div class='col-xs-4 pull-right text-right'>
        <%= link_to 'Deploy Changes', submit_config_host_path(@host), method: :post,
                    class: 'btn btn-success', role: 'button' %>
      </div>
    <% end %>
    <% if @host.needs_revoke? %>
      <div class='col-xs-4 pull-right text-right'>
        <%= link_to 'Remove From Bacula', revoke_host_path(@host), method: :delete,
                    class: 'btn btn-danger', role: 'button' %>
      </div>
    <% end %>
  </div>

  <br />

  <div class='row'>
    <% if @host.client %>
      <div class='col-xs-12 text-right'>
        <%= link_to "Back to <b>#{@host.name}</b> client".html_safe, client_path(@host.client) %>
      </div>
    <% end %>
  </div>
</div>
