<%= notifier(@host.display_message) unless @host.deployed? || @host.blocked? %>

<%= render partial: 'header' %>

<div class="row">
  <div id='host-tabs' class='tab-content'>
    <div role="tabpanel" class="tab-pane active" id="details">
      <%= render partial: "host_details" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="jobs">
      <%= render partial: "jobs/job_templates" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="fd-config">
      <%= render partial: "fd_config" %>
    </div>
  </div>
</div>

<br />

<div class='row'>
  <% if @host.client %>
    <div class='col-xs-12'>
      <%= link_to client_path(@host.client), class: 'btn btn-default' do %>
        <label class="glyphicon glyphicon-menu-left text-primary"></label>
        Back to client
      <% end %>
    </div>
  <% end %>
</div>

<%= render partial: 'jobs/modals' %>

<script type='text/javascript'>
  var hash = document.location.hash;
  var prefix = "tab_";
  if (hash) {
      $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').tab('show');
  }

  // Change hash for page-reload
  $('.nav-tabs a').on('shown', function (e) {
      window.location.hash = e.target.hash.replace("#", "#" + prefix);
  });
</script>
