<%= notifier(@host.display_message) unless @host.deployed? %>

<div class="row right">
  <%= link_to 'Remove host', host_path(@host), method: :delete, data: { confirm: 'Are you sure?' },
    class: "btn btn-danger", role: "button" %>
</div>

<h2>Configuration for <%= @host.name %>
  <small><%= host_status_label(@host) %></small>
</h2>

<br/>

<div class="row">
  <div class="col-xs-4">
    <h3>Host Details</h3>
  </div>
  <div class="col-xs-6">
    <h3>Jobs</h3>
  </div>
</div>
<div class="row">
  <%= render partial: "host_details" %>
  <%= render partial: "jobs/job_templates" %>

  <div class="col-xs-6">
    <h3>Config File</h3>
    <pre class="pre-scrollable">
<%= @host.baculize_config.join("\n") %>
    </pre>
  </div>
</div>

<%= render partial: 'jobs/modals' %>
