<%= notifier(@host.display_message) unless @host.deployed? %>

<%= render partial: 'header' %>

<div class="row">
  <div id='host-tabs' class='tab-content'>
    <div role="tabpanel" class="tab-pane active" id="details">
      <%= render partial: "host_details" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="jobs">
      <%= render partial: "jobs/job_templates" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="fd-config">
      <%= render partial: "fd_config" %>
    </div>
  </div>
</div>


<%= render partial: 'jobs/modals' %>

<script type='text/javascript'>
  var hash = document.location.hash;
  var prefix = "tab_";
  if (hash) {
      $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').tab('show');
  }

  // Change hash for page-reload
  $('.nav-tabs a').on('shown', function (e) {
      window.location.hash = e.target.hash.replace("#", "#" + prefix);
  });
</script>
