<%= notifier(@host.display_message) unless @host.deployed? %>

<%= render partial: 'header' %>

<div class="row">
  <div id='host-tabs' class='tab-content'>
    <div role="tabpanel" class="tab-pane active" id="details">
      <%= render partial: "host_details" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="jobs">
      <%= render partial: "jobs/job_templates" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="fd-config">
      <%= render partial: "fd_config" %>
    </div>
  </div>
</div>


<%= render partial: 'jobs/modals' %>
