<%= bootstrap_form_for(@schedule, layout: :horizontal,
                       label_col: 'col-xs-3', control_col: 'col-xs-8') do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_field :name %>
    <%= f.time_field :runtime, placeholder: 'HH:MM' %>
  </div>


  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-8">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
