<div class="row">
  <div class="col-xs-12">
    <% if @client.is_backed_up? %>
      <%= button_or_disabled(@client.host.blocked?, 'Restore Files',
                             restore_client_path(@client),
                             class: "btn btn-warning", role: "button") %>
    <% end %>

    <% if @client.host %>
      <%= link_to host_path(@client.host), class: "btn btn-default", role: "button" do %>
        <label class="glyphicon glyphicon-edit text-primary"></label>
        Manage Client
      <% end %>
    <% end %>

    <%= link_to fd_config_host_path(@client.host, token: current_user.token),
                class: "btn btn-default", role: "button", download: 'fd_config' do %>
      <label class="glyphicon glyphicon-download-alt text-primary"></label>
      Download Config
    <% end %>

    <%= link_to '#', data: { toggle: 'modal', target: "#js-fd-config"} do %>
      <label class='glyphicon glyphicon-info-sign'></label>
    <% end %>
  </div>
</div>

<br/>

<%= link_to 'Back to clients', clients_path %>

<div id="js-fd-config" class="modal" tabindex="-1" role="dialog" aria-labelledby="ConfigModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
      <br />
      <div class="panel panel-default">
        <div class="panel-heading">Config Download</div>
        <div class="panel-body">
          You can also download the config like this:
          <pre>
<%= "$ wget #{fd_config_host_url(@client.host, token: current_user.token)}" %>
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
