<div class="row">
  <div class="col-xs-12">
    <% if @client.is_backed_up? %>
      <%= button_or_disabled_with_label(
        @client.host.blocked?, 'Restore Files',
        restore_client_path(@client),
        class: "btn btn-default", role: "button",
        icon_class: 'glyphicon glyphicon-cloud-download', text_class: 'text-warning') %>
    <% end %>

    <% if @client.host %>
      <%= link_to host_path(@client.host), class: "btn btn-default", role: "button" do %>
        <label class="glyphicon glyphicon-edit text-primary"></label>
        Manage Client
      <% end %>
    <% end %>

    <%= link_to fd_config_host_path(@client.host, token: current_user.token),
                class: "btn btn-default", role: "button", download: 'bacula-fd.conf' do %>
      <label class="glyphicon glyphicon-download-alt text-primary"></label>
      Download Config
    <% end %>

    <%= link_to '#', data: { toggle: 'modal', target: "#js-fd-config"} do %>
      <label class='glyphicon glyphicon-info-sign'></label>
    <% end %>
  </div>
</div>

<div id="js-fd-config" class="modal" tabindex="-1" role="dialog" aria-labelledby="ConfigModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
      <br />
      <div class="panel panel-default">
        <div class="panel-heading">Config Download</div>
        <div class="panel-body">
          You can also download the config like this:
          <pre>
<%= "$ wget -O bacula-fd.conf #{fd_config_host_url(@client.host, token: current_user.token,
                                                   protocol: 'https://')}" %>
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
