<tr>
  <td><%= link_to client.name, client %></td>
  <td><%= client.uname %></td>
  <td><%= @stats.active_jobs[client.id] || 0 %></td>
  <td><%= @stats.last_jobs[client.id] %></td>
  <td><%= client.file_retention_days %></td>
  <td><%= client.job_retention_days %></td>
  <td><%= number_to_human_size(@stats.jobs_sizes[client.id]) %></td>
  <td><%= number_to_human_size(client.quota) %></td>
  <td>
    <% if client.quota.to_f > 0 %>
      <%= pretty_percentage(@stats.jobs_sizes[client.id].to_f / client.quota, client.quota) %>
    <% end %>
  </td>
  <td><%= number_by_magnitude(@stats.jobs_files[client.id]) %></td>
  <td><%= client.auto_prune_human %></td>
</tr>
