<tr>
  <td><%= link_to client.name, client %></td>
  <td><%= client.uname %></td>
  <td><%= client.auto_prune %></td>
  <td><%= client.file_retention %></td>
  <td><%= client.job_retention %></td>
</tr>
