<tr class="<%= success_class(recent_job.job_status) %>">
  <td><%= recent_job.name %></td>
  <td><%= link_to recent_job.job_id, logs_client_path(@client.id, job_id: recent_job.job_id) %></td>
  <td><%= recent_job.level_human %></td>
  <td><%= recent_job.fileset %></td>
  <td><%= recent_job.start_time_formatted %></td>
  <td><%= recent_job.end_time_formatted %></td>
  <td><%= recent_job.duration %></td>
  <td><%= number_to_human_size(recent_job.job_bytes) %></td>
  <td><%= number_by_magnitude(recent_job.job_files) %></td>
  <td><%= recent_job.status_human %></td>
</tr>
