<div class="row">
  <div class="col-xs-4">
    <% if @client.is_backed_up? %>
      <% restore_point = @client.last_job_date_formatted %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Restore files for "<%= @client.name %>"</h3>
        </div>

        <br />

        <%= bootstrap_form_tag(url: run_restore_client_path(@client), layout: :horizontal,
                               label_col: 'col-xs-4', control_col: 'col-xs-7' ) do |f| %>
          <div class="form-group">
            <%= f.label(:restore_point, class: 'control-label col-xs-4') %>
            <p class="form-control-static col-xs-8"><%= restore_point %></p>
          </div>

          <%= f.select(:fileset,
                       options_from_collection_for_select(@client.file_sets, :id, :file_set)) %>

          <%= f.text_field :restore_location, placeholder: '/tmp' %>

          <div class="row">
            <div class="col-xs-3 col-xs-offset-9">
              <%= f.submit 'Restore Files', class: 'btn btn-warning text-right',
                  data: { confirm: "This will restore all your files at the most recent backup (#{restore_point})" }
              %>
            </div>
          </div>
        <% end %>
        </br>
      </div>
    <% else %>
      <div class="alert alert-warning">
        <p>Can not issue a restore for this host. It has no successful backups</p>
      </div>
    <% end %>

    <%= link_to 'Cancel', client_path(@client), class: 'btn btn-danger', role: 'button' %>
  </div>
</div>
