<p id="notice"><%= notice %></p>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <td>Name</td>
      <td><%= @client.name %></td>
    </tr>
    <tr>
      <td>Uname</td>
      <td><%= @client.uname %></td>
    </tr>
    <tr>
      <td>Auto Prune</td>
      <td><%= @client.auto_prune %></td>
    </tr>
    <tr>
      <td>File Retention</td>
      <td><%= @client.file_retention %></td>
    </tr>
    <tr>
      <td>Job Retention</td>
      <td><%= @client.job_retention %></td>
    </tr>
  </table>
</div>

<%= link_to 'Back', clients_path %>
