<%= render partial: 'header' %>

<div class="row">
  <%= render partial: 'client_details' %>
  <%= render partial: 'jobs' %>
</div>

<%= render partial: 'actions' %>

<%= render partial: 'jobs/modals' %>
