<p id="notice"><%= notice %></p>
<% if @client.host %>
  <div class="row right">
    <%= link_to 'Manage Client', host_path(@client.host), class: "btn btn-primary", role: "button" %>
  </div>
<% end %>

<h2><%= @client.name %></h2>

<div class="row">
  <div class="col-xs-4">
    <h3>Client Details</h3>
  </div>
  <div class="col-xs-6">
    <h3>Bacula Jobs</h3>
  </div>
</div>

<div class="row">
  <%= render partial: 'client_details' %>
  <%= render partial: 'jobs' %>
</div>

<div>
  <%= link_to 'Restore Files', '#', class: "btn btn-warning", role: "button" %>
  <%= link_to 'Take Backup', '#', class: "btn btn-success", role: "button" %>
</div>
<br/>

<%= link_to 'Back to clients', clients_path %>
