<%= bootstrap_form_for(@fileset, url: host_filesets_path(@host, @fileset), layout: :horizontal,
                       label_col: 'col-xs-3', control_col: 'col-xs-8') do |f| %>
  <div>
    <%= f.text_field :name %>
    <%= f.text_field :include_files, label: 'Files', placeholder: '/', multiple: true %>
    <%= f.text_field :include_files, label: 'Files', placeholder: '/media', multiple: true %>
    <%= f.text_field :exclude_directions, label: 'Exclude', placeholder: '/proc', multiple: true %>
    <%= f.text_field :exclude_directions, label: 'Exclude', placeholder: '/bacula', multiple: true %>
    <%= (hidden_field_tag :job_id, @job_id) if @job_id%>
  </div>


  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-8">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
