<%= bootstrap_form_for(@fileset, url: url, method: method, layout: :horizontal,
                       label_col: 'col-xs-3', control_col: 'col-xs-8') do |f| %>
  <div>
    <%= f.text_field :name %>

    <% @fileset.include_directions['file'].each do |file| %>
      <%= text_with_errors_and_plus(@fileset, :fileset, :include_files, 'Files', '/', file) %>
    <% end %>
    <hr />
    <% @fileset.exclude_directions.each do |file| %>
      <%= text_with_errors_and_plus(@fileset, :fileset, :exclude_directions, 'Exclude', '/an_exluded_dir', file) %>
    <% end %>
    <%= (hidden_field_tag :job_id, @job_id) if @job_id%>
  </div>


  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-3">
      <%= f.submit class: 'btn btn-success' %>
    </div>
    <div class="col-xs-3">
      <%= link_to 'Cancel',
        @job_id.present? ? edit_host_job_path(@host, @job_id) : new_host_job_path(@host),
        role: 'button', class: 'btn btn-danger'%>
    </div>
  </div>
<% end %>
